body {
    width: 100vw;

}

* {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-portada {
    width: 100vw;
    height: 100vh;

    h1 {
        text-align: center;
    }

    video {
        margin-top: 10vh;
        width: 100vw;
        height: 150vw;
        z-index: 1;
    }

    .padre {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        left: 6vw;
        margin-top: 55%;
        z-index: 1000;
        display: none;


        .formulario-1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 10em;
            width: 300px;
            border: 2px solid rgba(0, 0, 0, 0.185);
            border-radius: 3px;
            background-color: white;
            box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.295);

            p {
                margin-bottom: 1em;
                margin-top: 1em;
            }

            .bart {
                width: 5em;
            }

            .boton {
                width: 8em;
                margin-top: 1em;
                border: 1px solid rgba(0, 0, 0, 0.705);
                border-radius: 3px;
                box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.63);
                cursor: pointer;

            }


        }

    }
}



// general

.general-main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../recursos/general.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .titulo-general {
        height: 2em;
        width: 10em;
        margin-top: 1em;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;

        h1 {
            width: 10vw;
            
        }

    }

    .parrafo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 80vw;
        font-weight: 500;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        a {
            text-decoration: none;
            margin-top: 1em;
            width: 50vw;
            color: rgb(124, 18, 124);
        }

        img {
            width: 2em;
            margin-left: 5em;

        }
    }

    ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        li{
            font-weight: 500;
            width: 70vw;
        }
    }
    h2{
        text-align: center;
        margin-bottom: 1em;
    }

    h4{
        margin-top:1em;
    }

}



// avisos
.avisos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;


    a {
        text-decoration: none;
        width: 11em;
        background-color: rgba(5, 5, 5, 0.192);
        border: 1px solid rgba(0, 0, 0, 0.233);
        margin-top: 1em;
        font-weight: 500;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: rgb(124, 18, 124);
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.363);
        border-radius: 3px;
        padding: 5px;
    }
}


// que llevar VIP

.vip-main{
    background-image: url(../recursos/llevarVip.avif);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(226, 223, 223);

    .box{
        display: flex;
        flex-direction: column;
        height: 70vh;
        width: 80vw;
        background-color: rgba(245, 245, 245, 0.322);
        padding: 10px;
        border-radius: 5dvb;
        color: black;
        h2{
            display: flex;
            text-align: center;
        }

        h4{
          margin: auto;
        }

        ul{
            li{
                font-weight: 500;
            }
        }
        p{
            display: flex;
            text-align: center;
           margin: 10px;
           font-weight: 500;
        }

    }

}


#cuenta{
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 2em;

    .simply-section{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3em;
        height: 2em;
        background-color: rgba(0, 0, 0, 0.205);
        border-radius: 3px;
        margin: 3px;
        padding: 2px;
        box-shadow: 0px 0px 5px black;
        font-weight: 500;
        

    }
}


//VIP

.hero{
    width: 100vw;
    height: 130vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../recursos/fonfoVIP.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .recuadro{
        border-radius: 3px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.486);
        background-color: rgba(255, 255, 255, 0.274);
        padding: 0.5em;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        h3{
            margin-bottom: 1em;
        }

    .titulo-general {
        height: 2em;
        width: 10em;
        margin-top: 1em;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .parrafo {
        padding-right: 1em;
        padding-left: 1em;
        margin-top: 1em;
        color: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 80vw;
        font-weight: 500;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        a {
            text-decoration: none;
            margin-top: 1em;
            width: 50vw;
            color: rgb(0, 0, 0);
        }

        img {
            width: 2em;
            margin-left: 5em;

        }
    }

    ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        li{
            font-weight: 500;
            width: 70vw;
        }
    }
    h2{
        text-align: center;
        margin-bottom: 1em;
    }

    h4{
        margin-top:1em;
    }
}
}

.avisos-vip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;


    a {
        text-decoration: none;
        width: 12em;
        margin-top: 1em;
        font-weight: 500;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: rgb(0, 0, 0);
        box-shadow: 0px 0px 5px black;
        border-radius: 3px;
        padding: 5px;
        background-color: rgba(212, 163, 72, 0.438);

    }
}